<style>
  .product-thumb {
    border: none;
    margin: 0;
    padding: 0;
  }
  .product-thumb-list {
    display: flex;
    flex-wrap: wrap;
  }
  .product-thumb-list-leftside {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-thumb-list-leftside .image {
    display: flex;
    justify-content: center;
  }
  .display-product-nik-modal-container{{ module }} .tab-content {
    display: flex;
  }
</style>

{% macro separately_carousel(products, number, title) %}
  <h4>{{ title }}</h4>
  <div class="swiper-viewport">
    <div id="display-product-carousel{{ module }}-{{ number }}" class="swiper-container swiper-container{{ module }}">
      <div class="swiper-wrapper">
        {% for product in products %}
          <div class="swiper-slide product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-thumb transition">
              <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.rating %}
                  <div class="rating">
                    {% for i in 5 %}
                      {% if product.rating < i %}
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      {% else %}
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                {% if product.price %}
                  <p class="price">
                    {% if not product.special %}
                      {{ product.price }}
                    {% else %}
                      <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                    {% endif %}
                    {% if product.tax %}
                      <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                    {% endif %}
                  </p>
                {% endif %}
              </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-pagination display-product-carousel-carousel{{ module }}-{{ number }}"></div>
    <div class="swiper-pager">
      <div class="swiper-button-next swiper-button-next{{ module }}-{{ number }}"></div>
      <div class="swiper-button-prev swiper-button-prev{{ module }}-{{ number }}"></div>
    </div>
  </div>
  <script type="text/javascript"><!--
      $('#display-product-carousel{{ module }}-{{ number }}').swiper({
          mode: 'horizontal',
          slidesPerView: 4,
          pagination: '.display-product-carousel{{ module }}-{{ number }}',
          paginationClickable: true,
          nextButton: '.swiper-button-next{{ module }}-{{ number }}',
          prevButton: '.swiper-button-prev{{ module }}-{{ number }}',
          autoplay: 2500,
          breakpoints: {
              // when window width is >= 480px
              480: {
                  slidesPerView: 1,
              },
              // when window width is >= 640px
              640: {
                  slidesPerView: 2,
              },
              // when window width is >= 640px
              768: {
                  slidesPerView: 3,
              }
          }
      });
  --></script>
{% endmacro %}

{% macro separately_table(products, number, title) %}
  <h4>{{ title }}</h4>
  <div class="product-display-nik-separately-table{{ number }}">
    {% for product in products %}
      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="product-thumb transition">
          <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
          <div class="caption">
            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
            <p>{{ product.description }}</p>
            {% if product.rating %}
              <div class="rating">
                {% for i in 5 %}
                  {% if product.rating < i %}
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% else %}
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            {% if product.price %}
              <p class="price">
                {% if not product.special %}
                  {{ product.price }}
                {% else %}
                  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                {% endif %}
                {% if product.tax %}
                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                {% endif %}
              </p>
            {% endif %}
          </div>
          <div class="button-group">
            <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
            <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro separately_list(products, number, title) %}
    <h4>{{ title }}</h4>
    {% for product in products %}
      <div class="product-display-nik-separately-list{{ number }}">
        <div class="product-layout col-lg-12">
          <div class="product-thumb-list product-thumb transition">
            <div class="product-thumb-list-leftside col-sm-6 col-xs-12">
              <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            </div>
            <div class="product-thumb-list-rightside col-sm-6 col-xs-12">
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.rating %}
                  <div class="rating">
                    {% for i in 5 %}
                      {% if product.rating < i %}
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      {% else %}
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                {% if product.price %}
                  <p class="price">
                    {% if not product.special %}
                      {{ product.price }}
                    {% else %}
                      <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                    {% endif %}
                    {% if product.tax %}
                      <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                    {% endif %}
                  </p>
                {% endif %}
              </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}
{% endmacro %}

{% macro tab(products, number) %}
  <div class="product-display-nik-tab{{ number }}">
  {% for product in products %}
      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="product-thumb transition">
          <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
          <div class="caption">
            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
            <p>{{ product.description }}</p>
            {% if product.rating %}
              <div class="rating">
                {% for i in 5 %}
                  {% if product.rating < i %}
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% else %}
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            {% if product.price %}
              <p class="price">
                {% if not product.special %}
                  {{ product.price }}
                {% else %}
                  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                {% endif %}
                {% if product.tax %}
                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                {% endif %}
              </p>
            {% endif %}
          </div>
          <div class="button-group">
            <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
            <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
{% endmacro %}

{% macro tabWithCarousel(products, number, module) %}
  <div class="swiper-viewport">
    <div id="display-product-tabs-with-carousel{{ module }}-{{ number }}" class="swiper-container swiper-container{{ module }}">
      <div class="swiper-wrapper">
        {% for product in products %}
          <div class="swiper-slide product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-thumb transition">
              <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p>{{ product.description }}</p>
                {% if product.rating %}
                  <div class="rating">
                    {% for i in 5 %}
                      {% if product.rating < i %}
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                      {% else %}
                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                {% if product.price %}
                  <p class="price">
                    {% if not product.special %}
                      {{ product.price }}
                    {% else %}
                      <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                    {% endif %}
                    {% if product.tax %}
                      <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                    {% endif %}
                  </p>
                {% endif %}
              </div>
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-pagination display-product-tabs-with-carousel{{ module }}-{{ number }}"></div>
    <div class="swiper-pager">
      <div class="swiper-button-next swiper-button-next{{ module }}-{{ number }}"></div>
      <div class="swiper-button-prev swiper-button-prev{{ module }}-{{ number }}"></div>
    </div>
  </div>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#display-product-tabs-with-carousel{{ module }}-{{ number }}').swiper({
              mode: 'horizontal',
              slidesPerView: 4,
              pagination: '.display-product-tabs-with-carousel{{ module }}-{{ number }}',
              paginationClickable: true,
              nextButton: '.swiper-button-next{{ module }}-{{ number }}',
              prevButton: '.swiper-button-prev{{ module }}-{{ number }}',
              autoplay: 2500,
              observer: true,
              observeParents: true,
              breakpoints: {
                  // when window width is >= 480px
                  480: {
                      slidesPerView: 1,
                  },
                  // when window width is >= 640px
                  640: {
                      slidesPerView: 2,
                  },
                  // when window width is >= 640px
                  768: {
                      slidesPerView: 3,
                  }
              }
          });
      })
  </script>
{% endmacro %}

{% macro random_carousel(products) %}
  {% for product in products %}
    <div class="swiper-slide product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="product-thumb transition">
        <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
        <div class="caption">
          <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
          <p>{{ product.description }}</p>
          {% if product.rating %}
            <div class="rating">
              {% for i in 5 %}
                {% if product.rating < i %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          {% if product.price %}
            <p class="price">
              {% if not product.special %}
                {{ product.price }}
              {% else %}
                <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
              {% endif %}
              {% if product.tax %}
                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
              {% endif %}
            </p>
          {% endif %}
        </div>
        <div class="button-group">
          <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}

{% macro random_table(products) %}
  {% for product in products %}
    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="product-thumb transition">
        <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
        <div class="caption">
          <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
          <p>{{ product.description }}</p>
          {% if product.rating %}
            <div class="rating">
              {% for i in 5 %}
                {% if product.rating < i %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          {% if product.price %}
            <p class="price">
              {% if not product.special %}
                {{ product.price }}
              {% else %}
                <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
              {% endif %}
              {% if product.tax %}
                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
              {% endif %}
            </p>
          {% endif %}
        </div>
        <div class="button-group">
          <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}

{% macro random_list(products) %}
  {% for product in products %}
    <div class="product-layout">
      <div class="product-thumb transition">
        <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
        <div class="caption">
          <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
          <p>{{ product.description }}</p>
          {% if product.rating %}
            <div class="rating">
              {% for i in 5 %}
                {% if product.rating < i %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
          {% if product.price %}
            <p class="price">
              {% if not product.special %}
                {{ product.price }}
              {% else %}
                <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
              {% endif %}
              {% if product.tax %}
                <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
              {% endif %}
            </p>
          {% endif %}
        </div>
        <div class="button-group">
          <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}

<div class="product-display-nik-super">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% if display_type == 'carousel' %}
          {% if display_heading %}
            <h3 class="product-display-nik-heading">{{ name }}</h3>
          {% endif %}

          {% if display_format %}

            {% if ordered_products %}
              {{ _self.separately_carousel(ordered_products, 1, text_ordered) }}
            {% endif %}
            {% if viewed_products %}
              {{ _self.separately_carousel(viewed_products, 2, text_viewed) }}
            {% endif %}
            {% if favorite_products %}
              {{ _self.separately_carousel(favorite_products, 3, text_favorite) }}
            {% endif %}
            {% if bestsellers_products %}
              {{ _self.separately_carousel(bestsellers_products, 4, text_bestsellers) }}
            {% endif %}
            {% if recommended_products %}
              {{ _self.separately_carousel(recommended_products, 5, text_recommended) }}
            {% endif %}

          {% else %}

            <div class="swiper-viewport">
              <div id="display-product-random-carousel{{ module }}" class="swiper-container swiper-container{{ module }}">
                <div class="swiper-wrapper">

                  {{ _self.random_carousel(random_products) }}

                </div>
              </div>
              <div class="swiper-pagination display-product-random-carousel{{ module }}"></div>
              <div class="swiper-pager">
                <div class="swiper-button-next swiper-button-next-random-carousel{{ module }}"></div>
                <div class="swiper-button-prev swiper-button-prev-random-carousel{{ module }}"></div>
              </div>
            </div>
            <script type="text/javascript"><!--
                $('#display-product-random-carousel{{ module }}').swiper({
                    mode: 'horizontal',
                    slidesPerView: 4,
                    pagination: '.display-product-random-carousel{{ module }}',
                    paginationClickable: true,
                    nextButton: '.swiper-button-next-random-carousel{{ module }}',
                    prevButton: '.swiper-button-prev-random-carousel{{ module }}',
                    autoplay: 2500,
                    breakpoints: {
                        // when window width is >= 480px
                        480: {
                            slidesPerView: 1,
                        },
                        // when window width is >= 640px
                        640: {
                            slidesPerView: 2,
                        },
                        // when window width is >= 640px
                        768: {
                            slidesPerView: 3,
                        }
                    }
                });
                --></script>
          {% endif %}

        {% elseif display_type == 'table' %}
          {% if display_heading %}
            <h3 class="product-display-nik-heading">{{ name }}</h3>
          {% endif %}

          {% if display_format %}

            {% if ordered_products %}
              {{ _self.separately_table(ordered_products, 1, text_ordered) }}
            {% endif %}
            {% if viewed_products %}
              {{ _self.separately_table(viewed_products, 2, text_viewed) }}
            {% endif %}
            {% if favorite_products %}
              {{ _self.separately_table(favorite_products, 3, text_favorite) }}
            {% endif %}
            {% if bestsellers_products %}
              {{ _self.separately_table(bestsellers_products, 4, text_bestsellers) }}
            {% endif %}
            {% if recommended_products %}
              {{ _self.separately_table(recommended_products, 5, text_recommended) }}
            {% endif %}

          {% else %}

            <div class="product-display-nik-random-table{{ module }}">
              {{ _self.random_table(random_products) }}
            </div>

          {% endif %}

        {% elseif display_type == 'list' %}
          {% if display_heading %}
            <h3 class="product-display-nik-heading">{{ name }}</h3>
          {% endif %}

          {% if display_format %}

            {% if ordered_products %}
              {{ _self.separately_list(ordered_products, 1, text_ordered) }}
            {% endif %}
            {% if viewed_products %}
              {{ _self.separately_list(viewed_products, 2, text_viewed) }}
            {% endif %}
            {% if favorite_products %}
              {{ _self.separately_list(favorite_products, 3, text_favorite) }}
            {% endif %}
            {% if bestsellers_products %}
              {{ _self.separately_list(bestsellers_products, 4, text_bestsellers) }}
            {% endif %}
            {% if recommended_products %}
              {{ _self.separately_list(recommended_products, 5, text_recommended) }}
            {% endif %}

          {% else %}

            <div class="product-display-nik-random-list{{ module }}">
              {{ _self.random_list(random_products) }}
            </div>

          {% endif %}

        {% elseif display_type == 'tabs' %}

          {% if display_heading %}
            <h3 class="product-display-nik-heading">{{ name }}</h3>
          {% endif %}

          <ul class="nav nav-tabs" id="display_product_tabs{{ module }}">
            {% if ordered_products %}
              <li><a href="#ordered{{ module }}" data-toggle="tab">{{ text_ordered }}</a></li>
            {% endif %}
            {% if viewed_products %}
              <li><a href="#viewed{{ module }}" data-toggle="tab">{{ text_viewed }}</a></li>
            {% endif %}
            {% if favorite_products %}
              <li><a href="#favorite{{ module }}" data-toggle="tab">{{ text_favorite }}</a></li>
            {% endif %}
            {% if bestsellers_products %}
              <li><a href="#bestsellers{{ module }}" data-toggle="tab">{{ text_bestsellers }}</a></li>
            {% endif %}
            {% if recommended_products %}
              <li><a href="#recommended{{ module }}" data-toggle="tab">{{ text_recommended }}</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            {% if ordered_products %}
              <div class="tab-pane" id="ordered{{ module }}">
                {{ _self.tab(ordered_products, 1) }}
              </div>
            {% endif %}
            {% if viewed_products %}
              <div class="tab-pane" id="viewed{{ module }}">
                {{ _self.tab(viewed_products, 2) }}
              </div>
            {% endif %}
            {% if favorite_products %}
              <div class="tab-pane" id="favorite{{ module }}">
                {{ _self.tab(favorite_products, 3) }}
              </div>
            {% endif %}
            {% if bestsellers_products %}
              <div class="tab-pane" id="bestsellers{{ module }}">
                {{ _self.tab(bestsellers_products, 4) }}
              </div>
            {% endif %}
            {% if recommended_products %}
              <div class="tab-pane" id="recommended{{ module }}">
                {{ _self.tab(recommended_products, 5) }}
              </div>
            {% endif %}
          </div>

          <script>
              $('#display_product_tabs{{ module }} a:first').tab('show');
          </script>

        {% elseif display_type == 'tabsInPopup' %}

          <div class="modal fade product-display-modal-lg{{ module }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                {% if display_heading %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ name }}</h5>
                  </div>
                {% endif %}
                <div class="modal-body">

                  <div class="display-product-nik-modal-container{{ module }}">

                    <ul class="nav nav-tabs" id="display_product_tabs{{ module }}">
                      {% if ordered_products %}
                        <li><a href="#ordered{{ module }}" data-toggle="tab">{{ text_ordered }}</a></li>
                      {% endif %}
                      {% if viewed_products %}
                        <li><a href="#viewed{{ module }}" data-toggle="tab">{{ text_viewed }}</a></li>
                      {% endif %}
                      {% if favorite_products %}
                        <li><a href="#favorite{{ module }}" data-toggle="tab">{{ text_favorite }}</a></li>
                      {% endif %}
                      {% if bestsellers_products %}
                        <li><a href="#bestsellers{{ module }}" data-toggle="tab">{{ text_bestsellers }}</a></li>
                      {% endif %}
                      {% if recommended_products %}
                        <li><a href="#recommended{{ module }}" data-toggle="tab">{{ text_recommended }}</a></li>
                      {% endif %}
                    </ul>
                    <div class="tab-content">
                      {% if ordered_products %}
                        <div class="tab-pane" id="ordered{{ module }}">
                          {{ _self.tab(ordered_products, 1) }}
                        </div>
                      {% endif %}
                      {% if viewed_products %}
                        <div class="tab-pane" id="viewed{{ module }}">
                          {{ _self.tab(viewed_products, 2) }}
                        </div>
                      {% endif %}
                      {% if favorite_products %}
                        <div class="tab-pane" id="favorite{{ module }}">
                          {{ _self.tab(favorite_products, 3) }}
                        </div>
                      {% endif %}
                      {% if bestsellers_products %}
                        <div class="tab-pane" id="bestsellers{{ module }}">
                          {{ _self.tab(bestsellers_products, 4) }}
                        </div>
                      {% endif %}
                      {% if recommended_products %}
                        <div class="tab-pane" id="recommended{{ module }}">
                          {{ _self.tab(recommended_products, 5) }}
                        </div>
                      {% endif %}
                    </div>

                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ button_close }}</button>
                </div>
              </div>
            </div>
          </div>

          <script>
              $(document).ready(function () {
                  $('#display_product_tabs{{ module }} a:first').tab('show');
                  $('.{{ button_class }}').on('click', function () {
                      $('.product-display-modal-lg{{ module }}').modal('show')
                  })
              })
          </script>

        {% elseif display_type == 'tabsWithCarousel' %}

          {% if display_heading %}
            <h3 class="product-display-nik-heading">{{ name }}</h3>
          {% endif %}
          <div class="row tab-with-carousel{{ module }}">

            <ul class="nav nav-tabs" id="display_product_tabs{{ module }}">
              {% if ordered_products %}
                <li><a href="#ordered{{ module }}" data-toggle="tab">{{ text_ordered }}</a></li>
              {% endif %}
              {% if viewed_products %}
                <li><a href="#viewed{{ module }}" data-toggle="tab">{{ text_viewed }}</a></li>
              {% endif %}
              {% if favorite_products %}
                <li><a href="#favorite{{ module }}" data-toggle="tab">{{ text_favorite }}</a></li>
              {% endif %}
              {% if bestsellers_products %}
                <li><a href="#bestsellers{{ module }}" data-toggle="tab">{{ text_bestsellers }}</a></li>
              {% endif %}
              {% if recommended_products %}
                <li><a href="#recommended{{ module }}" data-toggle="tab">{{ text_recommended }}</a></li>
              {% endif %}
            </ul>
            <div class="tab-content display_product_tabs_content{{ module }}">
              {% if ordered_products %}
                <div class="tab-pane" id="ordered{{ module }}">
                  {{ _self.tabWithCarousel(ordered_products, 1, module) }}
                </div>
              {% endif %}
              {% if viewed_products %}
                <div class="tab-pane" id="viewed{{ module }}">
                  {{ _self.tabWithCarousel(viewed_products, 2, module) }}
                </div>
              {% endif %}
              {% if favorite_products %}
                <div class="tab-pane" id="favorite{{ module }}">
                  {{ _self.tabWithCarousel(favorite_products, 3, module) }}
                </div>
              {% endif %}
              {% if bestsellers_products %}
                <div class="tab-pane" id="bestsellers{{ module }}">
                  {{ _self.tabWithCarousel(bestsellers_products, 4, module) }}
                </div>
              {% endif %}
              {% if recommended_products %}
                <div class="tab-pane" id="recommended{{ module }}">
                  {{ _self.tabWithCarousel(recommended_products, 5, module) }}
                </div>
              {% endif %}
            </div>
          </div>

          <script>
              $('#display_product_tabs{{ module }} a:first').tab('show');
          </script>

        {% endif %}
      </div>
    </div>
  </div>
</div>